
/* historical data button on the index page */

#historical_data_button .liquid::after, #historical_data_button .liquid::before{
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: transparent;
}

#historical_data_button .liquid::before{
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 7.5s linear infinite;
}

#historical_data_button .liquid::after{
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 15s linear infinite;
}

#historical_data_button:hover .liquid{
    top: -17.5vh;
}

/* this causes the rotation, givin an illusion of an animation */
@keyframes animate{
    0%{
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


















/* social media buttons in footer */

#social_media_wrapper li:before{
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
}

#social_media_wrapper li:after{
    position: absolute;
    top:5px;
    left: -9px;
    width: 9px;
    height: 100%;
}

#social_media_wrapper li:hover span {
    transition: .3s;                                    /* time to pop out */
    color: white;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}

/* how far each 'platform' pokes out + transparency*/

#social_media_wrapper li:hover span:nth-child(5){
    transform: translate(40px, -40px);
    opacity: 1;
}

#social_media_wrapper li:hover span:nth-child(4){
    transform: translate(30px, -30px);
    opacity: .8;
}

#social_media_wrapper li:hover span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: .6;
}

#social_media_wrapper li:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: .4;
}

ul li:hover span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: .2;
}

/* colors of the popout platforms */

#social_media_wrapper #facebook_link:hover span{
    background: #3b5998 !important;
}

#social_media_wrapper #twitter_link:hover span{
    background: #1DA1F2 !important;
}

#social_media_wrapper #linkedin_link:hover span{
    background: #2867B2 !important;
}

#social_media_wrapper #instagram_link:hover .insta_button{    
    transform: translate(40px, -40px);
    opacity: 1;
}

.insta_button{
    opacity: 0;
    transition: 2s;
    background: radial-gradient(circle at 30% 107%, rgba(253, 244, 151, 1) 0%, rgba(253, 244, 151, 1) 5%, rgba(253, 89, 73, 1) 45%,rgba(214, 36, 159, 1) 60%,rgba(40, 90, 235, 1) 90%) !important;
    z-index: 99;
}