// Variables for css themes // 

// Color settings dark theme //
html[class="Dark"] {
    --bg-dashboard: #0e0f2e;
    --dashboard-blocks-bg-light1: #191D43;
    --light-accent-1: #2770E7;
    --text-light: white;
}

//collor settins violet theme //
html[class="Violet"]{
    --bg-dashboard: #1D0040;
    --dashboard-blocks-bg-violet-light1: #32066C;
    --dashboard-blocks-bg-violet-light2: #FD6264;
    --dashboard-blocks-bg-violet-light3: #8A31FE;
    --dashboard-blocks-bg-violet-light4: #42C8DB;
    --dashboard-blocks-bg-violet-light5: #66D0B7;
    --text-light: white;
}

/*  Styling on the pages where the html has a class of "Violet" or "Dark"  */
html[class="Dark"]{
    background-color: var(--bg-dashboard) !important;

    body {

        header {
            /*  Sets styling the header top of the page */
            .main-header {
                background-color: var(--dashboard-blocks-bg-light1);
                border-bottom: 2px solid var(--light-accent-1);

                ul {

                    .user-panel {
                        .nav-item {
                            &:hover {
                                color: var(--light-accent-1) !important;
                            }
                        }
                    }
                    .nav-item {
                        a {
                            color: var(--text-light) !important;;

                            &:hover {
                                color: var(--light-accent-1) !important;
                            }
                        }
                    }
                }
            }
        }

        /*  Sets styling on the left navbar on all the pages */
        .main-sidebar {
            background-color: var(--dashboard-blocks-bg-light1);

            .brand-link {
                border-bottom: 2px solid var(--light-accent-1);
            }

            nav {
                ul {
                    .user-panel {
                        border-bottom: 2px solid var(--light-accent-1) !important;

                        li {
                            color: white !important;

                            .nav-link {
                                color: white !important;

                                &:hover {
                                    color: var(--light-accent-1) !important;
                                    background-color: rgba(14, 15, 46, 0.55) !important;
                                }
                            }

                            &.menu-open {

                            }
                        }
                    }

                    .nav-item {
                        
                        .nav-link {
                            color: white !important;

                            &:hover {
                                color: var(--light-accent-1) !important;
                                background-color: rgba(14, 15, 46, 0.55) !important;
                            }
                        }
                    }
                }
            }
        }

        main {
            background-color: var(--bg-dashboard) !important;

            .wrapper {
                color: var(--text-light);
                /*  Sets styling on the content section on all pages  */
                .content-wrapper {
                    padding: 15px 25px;
                    background-color: var(--bg-dashboard);

                    .content-header {
                        padding: 15px 25px !important;
                    }

                    section[class="content"]{
                        .row {
                            /*  Styling on the cards on top of the homepage */
                            .small-box{
                                background-color: var(--dashboard-blocks-bg-light1) !important;

                                &-footer {
                                    
                                    &:hover {
                                        color: var(--light-accent-1) !important;
                                    }
                                }
                            }

                            /* Styling for popup small boxes */
                            .modal-content {
                                background-color: var(--dashboard-blocks-bg-light1) !important;

                                .modal-header {
                                    border-bottom: 2px solid var(--light-accent-1) !important;

                                    h5 {
                                        color: var(--text-light) !important;
                                    }

                                    button {
                                        color: var(--light-accent-1) !important;
                                        opacity: 1 !important;

                                        &:hover {
                                            opacity: 0.75 !important;
                                        }
                                    }
                                }

                                .modal-body {
                                    color: var(--text-light) !important;
                                }

                                .modal-footer {
                                    border-top: 2px solid var(--light-accent-1) !important;

                                    button {
                                        background-color: var(--light-accent-1) !important;
                                        color: var(--text-light) !important;;
                                        border: 1px solid var(--light-accent-1) !important;

                                        &:hover {
                                            opacity: 0.75;
                                        }
                                    }
                                }
                            }

                            .card {
                               background-color: var(--dashboard-blocks-bg-light1) !important; 
                               color: var(--text-light) !important;

                               &-header {
                                   color: var(--text-light) !important;

                                   button {
                                    background-color: var(--light-accent-1) !important;
                                    border: 1px solid var(--light-accent-1) !important;
    
                                        &:hover , &:active {
                                            opacity: 0.75 !important;
                                        }
                                    }   
                               }
                            }

                            .connectedSortable{

                                /*  Sets styling on all card classes on the homepage */
                                .card {
                                    background: var(--dashboard-blocks-bg-light1) !important;

                                    .card-body {
                                        #calendar {
                                            table {
                                                thead {
                                                    tr {
                                                        th {
                                                            &:hover {
                                                                background: var(--light-accent-1) !important;
                                                            }
                                                        }
                                                    }
                                                }

                                                tbody {
                                                    td {
                                                        &:hover {
                                                            background: var(--light-accent-1) !important;
                                                        }

                                                        &.active {
                                                            background: var(--light-accent-1) !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* styling for the account page */
            .content {

                .container-fluid {
                    padding-top: 35px;

                    main {
                        background-color: var(--dashboard-blocks-bg-light1) !important;

                        form {

                            hr {
                                height: 1px;
                                background: var(--light-accent-1) !important;
                            }
                            
                            fieldset {

                                .form-control-file {
                                    color: var(--text-light) !important;
                                }

                                legend {
                                    color: var(--text-light) !important;
                                }

                                .form-group {

                                    label {
                                        color: var(--text-light) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .content-wrapper {
            background-color: var(--bg-dashboard);

            .content {
                padding: 15px 25px;

                .container {
                    color: var(--text-light) !important;

                    /* Styling for the upload photo page */
                    .main_content_uploadphoto {
                        background-color: var(--dashboard-blocks-bg-light1);
                        padding: 25px;
                        border-radius: 0.25rem;
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
                        display: block;

                        form {

                            .form-group {

                            }
                        }
                    }
                }

                /* Styling for the photohub page  */
                .card-widget {
                    background-color: var(--dashboard-blocks-bg-light1) !important;
                    color:  var(--text-light) !important;

                    .card-header {
                        color:  var(--text-light) !important;

                        .user-block {

                            .description {
                                color: var(--text-light) !important;
                            }
                        }

                        .card-tools {

                            a {
                                &:hover {
                                    text-decoration: unset !important;
                                }
                            }

                            button {

                                &.btn {
                                    color: var(--text-light) !important;

                                    &:hover {
                                        color: var(--light-accent-1) !important;
                                    }
                                }
                            }
                        }
                    }

                    .card-body {
                        color:  var(--text-light) !important;

                        img {
                            margin-bottom: 10px;
                        }

                        button {
                            color: var(--text-light) !important;
                            opacity: 1 !important;

                            &:hover {
                                background-color: var(--light-accent-1) !important;
                                opacity: 0.65 !important;
                            }
                        }

                        span {
                            color: var(--text-light) !important;
                        }
                    }

                    .card-footer {
                        color:  var(--text-light) !important;

                        .comment-text {
                            color: var(--text-light) !important;
                            span {
                                color: var(--text-light) !important;
                            }
                        }
                    }
                }
            }

            /* Styling for weather page */
            .card {

                .card-body {
                    color:  var(--text-light) !important;

                    h5 {
                        color:  var(--text-light) !important;
                    }

                    p {
                        color:  var(--text-light) !important;
                    }
                }
            }
        }
    }
}







/* Styling violet theme */
html[class="Violet"]{
    background-color: var(--dashboard-blocks-bg-violet-light1) !important;

    body {

        header {
            /*  Sets styling the header top of the page */
            .main-header {
                background-color: var(--dashboard-blocks-bg-violet-light1);
                border-bottom: 2px solid var(--dashboard-blocks-bg-violet-light3);

                ul {

                    .nav-item {
                        a {
                            color: var(--text-light);

                            &:hover, &:active {
                                color: var(--dashboard-blocks-bg-violet-light3) !important;
                            }
                        }
                    }
                }
            }
        }

        /*  Sets styling on the left navbar on all the pages */
        .main-sidebar {
            background-color: var(--dashboard-blocks-bg-violet-light1);

            .brand-link {
                border-bottom: 2px solid var(--dashboard-blocks-bg-violet-light3);
            }

            nav {
                ul {
                    .user-panel {
                        border-bottom: 2px solid var(--dashboard-blocks-bg-violet-light3) !important;

                        li {
                            color: white !important;

                            .nav-link {
                                color: white !important;

                                &:hover {
                                    color: var(--text-light) !important;
                                    background-color: rgba(138, 49, 254, 0.55) !important;
                                }
                            }

                            &.menu-open {

                            }
                        }
                    }

                    .nav-item {
                        
                        .nav-link {
                            color: white !important;

                            &:hover {
                                color: var(--text-light) !important;
                                background-color: rgba(138, 49, 254, 0.55) !important;
                            }
                        }
                    }
                }
            }
        }

        main {
            background-color: var(--dashboard-blocks-bg-violet-light1) !important;
            .wrapper {
                color: var(--text-light);
                /*  Sets styling on the content section on all pages  */
                .content-wrapper {
                    padding: 15px 25px;
                    background-color: var(--bg-dashboard);

                    .content-header {
                        padding: 15px 25px !important;
                    }

                    section[class="content"]{
                        .row {
                            /*  Styling on the cards on top of the homepage */

                            .col-6 {

                                &:nth-child(1){
                                    
                                    .small-box {
                                        background-color: var(--dashboard-blocks-bg-violet-light2) !important;
                                    }
                                }

                                &:nth-child(2){
                                    
                                    .small-box {
                                        background-color: var(--dashboard-blocks-bg-violet-light5) !important;
                                    }
                                }

                                &:nth-child(3){
                                    
                                    .small-box {
                                        background-color: var(--dashboard-blocks-bg-violet-light4) !important;
                                    }
                                }
                            }

                            .small-box{
                                background-color: var(--dashboard-blocks-bg-violet-light3) !important;

                                &-footer {
                                    
                                    &:hover {
                                        color: var(--light-accent-1) !important;
                                    }
                                }
                            }

                            /* Styling for popup small boxes */
                            .modal-content {
                                background-color: var(--dashboard-blocks-bg-violet-light3) !important;

                                .modal-header {
                                    border-bottom: 2px solid var(--light-accent-1) !important;

                                    h5 {
                                        color: white !important;
                                    }

                                    button {
                                        color: var(--light-accent-1) !important;
                                        opacity: 1 !important;

                                        &:hover {
                                            opacity: 0.75 !important;
                                        }
                                    }
                                }

                                .modal-body {
                                    color: white !important;
                                }

                                .modal-footer {
                                    border-top: 2px solid var(--light-accent-1) !important;

                                    button {
                                        background-color: var(--light-accent-1) !important;
                                        color: white !important;
                                        border: 1px solid var(--light-accent-1) !important;

                                        &:hover {
                                            opacity: 0.75;
                                        }
                                    }
                                }
                            }

                            .card {
                               background-color: var(--dashboard-blocks-bg-violet-light3) !important; 
                               color: white;

                               &-header {
                                   color: white;
                               }

                               &-body {

                                .btn-primary {
                                    background-color: var(--dashboard-blocks-bg-violet-light1) !important;
                                    border: 1px solid var(--dashboard-blocks-bg-violet-light1) !important;
                                }
                               }
                            }

                            .connectedSortable{

                                /*  Sets styling on all card classes on the homepage */
                                .card {
                                    background: var(--dashboard-blocks-bg-violet-light3) !important;

                                    .card-header {

                                        .card-tools {

                                            button {
                                                background-color: var(--dashboard-blocks-bg-violet-light1) !important;
                                                border: 1px solid var(--dashboard-blocks-bg-violet-light1) !important;

                                                &:hover , &:active {
                                                    opacity: 0.75 !important;
                                                }
                                            }
                                        }
                                    }

                                    .card-body {
                                        #calendar {
                                            table {
                                                thead {
                                                    tr {
                                                        th {
                                                            &:hover {
                                                                background: var(--dashboard-blocks-bg-violet-light1) !important;
                                                            }
                                                        }
                                                    }
                                                }

                                                tbody {
                                                    td {
                                                        &:hover {
                                                            background: var(--dashboard-blocks-bg-violet-light1) !important;
                                                        }

                                                        &.active {
                                                            background: var(--dashboard-blocks-bg-violet-light1) !important;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .btn-primary {
                                background-color: var(--dashboard-blocks-bg-violet-light3) !important;
                                border: 1px solid var(--dashboard-blocks-bg-violet-light3) !important;
                            }
                        }
                    }
                }
            }

            /* styling for the account page */
            .content {

                .container-fluid {
                    padding-top: 35px;

                    main {
                        background-color: var(--dashboard-blocks-bg-violet-light3) !important;
                        border-radius: 0.25rem;

                        form {

                            hr {
                                height: 1px;
                                background: var(--dashboard-blocks-bg-violet-light1) !important;
                            }

                            .form-group {

                                .btn-primary {
                                    background-color: var(--dashboard-blocks-bg-violet-light1) !important;
                                    border: 1px solid var(--dashboard-blocks-bg-violet-light1) !important;
                                }
                            }
                            
                            fieldset {

                                .form-control-file {
                                    color: white !important;
                                }

                                legend {
                                    color: white !important;
                                }

                                .form-group {

                                    label {
                                        color: white !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .content-wrapper {
            background-color: var(--bg-dashboard);

            .content {
                padding: 15px 25px;

                .container {
                    color: white;

                    /* Styling for the upload photo page */
                    .main_content_uploadphoto {
                        background-color: var(--dashboard-blocks-bg-violet-light1);
                        padding: 25px;
                        border-radius: 0.25rem;
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
                        display: block;

                        form {

                            .form-group {
                            }
                        }
                    }
                }

                /* Styling for the photohub page  */
                .card-widget {
                    background-color: var(--dashboard-blocks-bg-violet-light1) !important;
                    color:  white !important;

                    .card-header {
                        color:  white !important;

                        .user-block {

                            .description {
                                color: white;
                            }
                        }

                        .card-tools {

                            a {
                                &:hover {
                                    text-decoration: unset !important;
                                }
                            }

                            button {

                                &.btn {
                                    color: white !important;

                                    &:hover {
                                        color: var(--dashboard-blocks-bg-violet-light3) !important;
                                    }
                                }
                            }
                        }
                    }

                    .card-body {
                        color:  white !important;

                        img {
                            margin-bottom: 10px;
                        }

                        button {
                            color: white !important;
                            opacity: 1 !important;

                            &:hover {
                                background-color: var(--light-accent-1) !important;
                                opacity: 0.75 !important;
                            }
                        }

                        span {
                            color: white !important;
                        }
                    }

                    .card-footer {
                        color:  white !important;

                        a {
                            color: var(--dashboard-blocks-bg-violet-light3) !important;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .comment-text {
                            color: white !important;
                            span {
                                color: white !important;
                            }
                        }
                    }
                }
            }

            /* Styling for weather page */
            .card {

                .card-body {
                    color:  white !important;

                    h5 {
                        color:  white !important;
                    }

                    p {
                        color:  white !important;
                    }
                }
            }
        }
    }
}