@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(30,30,30);
    color: white;
    overflow-x: hidden;
}

header{
    width: 100vw;
    background-color: transparent;
    position: absolute;
    top: 0;
    position: fixed;
    border-bottom: .5px solid rgba(255, 255, 255, 0);
    width: 100vw;
    text-align: center;
    transition: .35s;
    z-index: 100;
}

.header_button, .header_dropdown_button{
    border:  1.5px solid white;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: montserrat, sans-serif;
    margin: 20px 25px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    transition: .35s;
}

.header_button:hover, .header_dropdown_button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    mix-blend-mode: screen;
}

.header.active {
    border-bottom: .5px solid rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(4px);
}

header #dropdown_wrapper{
    display: inline;
    width: 10vw;
    height: 10vh;
}

.dropdown-content{
    background-color: transparent;
    position: relative;
    left: -1.95vw;
    top: 5.5vh;
}


.dropdown-content:hover{
    background: transparent !important;
}

header .dropdown:hover .dropdown-content{
    background: transparent !important;
}

header .dropdown:hover .dropdown-content a{
    color: white !important;
}

header .dropdown-content a:hover{
    background-color: rgba(255, 255, 255, .75)  !important;
    color: black !important;
    mix-blend-mode: screen;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/* styling homepage (index.blade.php) */

#index_content_1{
    border-bottom: 2px solid white;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/cities/NY.jpg');
    -webkit-transition: background 3s;
    -moz-transition: background 3s;
    -o-transition: background 3s;
    transition: background 3s;
    background-size: cover;
    background-attachment: fixed;
}

#index_content_1 h1{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 30vh;

    font-weight: bold;
    font-size: 550%;
    font-family: montserrat, sans-serif;
    color: white;
    text-shadow: 0 0 10px black;
}


/* homepage cards */

#index_cards_wrapper{
    align-items: center;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    position: relative;
    top: 30%;
}

.index_cards{
    color: white;
    width: 22.5%;
    margin: 0 2.5%;
    display: inline-block;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 15px black;
    padding: 0;
}

.index_cards>div{
    background-color: rgba(0,0,0,.5);
    margin: 0;
    border-radius: 15px;
}

.index_cards h2{
    font-size: 250%;
    margin: 0;
}

.index_cards h3{
    font-size: 150%;
}

.index_cards h4{
    margin-top: -5px;
}

.index_cards i{
    font-size: 250%;
}

.index_cards i{
    margin-bottom: 10%;
}


/* styling chart */

#curve_chart{
    margin: 0 auto;
}

#chart_index{
    text-align: center;
    font-family: montserrat, sans-serif;
}

/* historical data segment in the index */

#index_content_2{
    padding-top: 10vh;
    width: 60vw;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

#index_content_2 h1{
    text-align: center;
    font-family: montserrat;
    letter-spacing: 3.5px;
}

#index_content_2 div{
    width: 40vw;
    margin: 0 auto;
}

#index_about_us_wrapper{
    display: inline-block;
    padding-left: 20vw;
    margin-top: 5vh;
}

#index_about_us_wrapper .images, #index_about_us_wrapper .text{
    float: left;
    width: 30vw;
    height: 50vh;
}

#index_about_us_wrapper .text{
    background-color: transparent;
    padding: 1.5vw 3vw;
}
#index_about_us_wrapper h1{
    text-align: center;
}

#index_about_us_wrapper .images{
    background-image: url('../images/error/no_image_found.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#index_about_us_wrapper #img_1{
    background-image: url('../images/stock/programmers.jpg');
}
#index_about_us_wrapper #img_2{
    background-image: url('../images/stock/analyst.jpg');
}
#index_about_us_wrapper #img_3{
    background-image: url('../images/stock/deal.jpg');
}
#index_about_us_wrapper #img_4{
    background-image: url('../images/stock/team.jpg');
}

/* styling for the enter now button to historical data */

#historical_data_button{
    text-align: center;
    position: relative;
    left: 50%;
    margin: 5vh 0 0 -7.5vw;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 15vw;
    overflow: hidden;                           /* this hides all parts of elements outside the button, improving the illusion of the animation' */
    border-radius: 40px;
}

#historical_data_button span{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 8px;
    z-index: 1;
}

#historical_data_button .liquid{
    position: absolute;
    top: -13vh;
    left: 0;
    width: 15vw;
    height: 15vw;
    background: rgb(5, 129, 245);        /* liquid color */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

/* styling for the social media buttons in footer */

 #social_media_wrapper ul{
   position: relative;
   display: flex;                               /* displaying the items inline. remove this for a 'ladder' formation */
   transform: skew(12.5deg);                    /* rotation of the items */
   /* transform: rotate(-25deg); */
}

#social_media_wrapper li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 2.5%;                           /* regulates distance between items */
}

#social_media_wrapper li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;                            /* background buttons */
    justify-content: center;
    align-items: center;
    color: white;                                    /* color of the icons */
    font-size: 30px !important;                        /* size of the icons */
    transition: 1s ease-out;                           /* time to return back to origin */
}





/* styling footer */

footer{
    padding-top: 5vh;
    width: 100vw;
    background-color: rgb(8, 8, 8);
    font-family: montserrat;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    grid-template-columns: 50vw 50vw;
    border-top: 2px solid white;
    margin-top: -5px;
}

footer div:nth-child(1n){
    grid-row: 1;
    grid-column: 1/2;
}
footer div:nth-child(2n){
    grid-row: 2;
    grid-column: 1/2;
}
footer div:nth-child(3n){
    grid-row: 3;
    grid-column: 1/2;
}
footer div:nth-child(4n){
    grid-row: 4;
    grid-column: 1/2;
}
footer div:nth-child(5n){
    grid-row: 5;
    grid-column: 1/2;
}
footer div:nth-child(6n){
    grid-row: 1;
    grid-column: 2/3;
}
footer div:nth-child(7n){
    grid-row: 2;
    grid-column: 2/3;
}
footer div:nth-child(8n){
    grid-row: 3;
    grid-column: 2/3;
}
footer div:nth-child(9n){
    grid-row: 4;
    grid-column: 2/3;
}
footer div:nth-child(10n){
    grid-row: 6;
    grid-column: 1/3;
}

.footer_left_items, .footer_copyright{
    padding-left: 5vw;
    text-decoration: none;
}

.footer_copyright{
    padding: 5vh 0 0 0;
    text-align: center;
}

footer ul p{
    transform: skew(-12.5deg);
}


/* statistics page */

#content_statistics{
    margin: 0 auto;
}





/* photohub page */

#spacefiller{
    width: 100vw;
    height: 5vh;
}

.photohub_content_wrapper{
    margin-left: .5vw;
}

.wrap_photohub{
    display: inline-flex;
}

#main_content_photohub{
    width: 100vw;
    padding: 5vw;
    display: flex;
    flex-wrap: wrap;
}

.photohub_content{
    width: 29vw;
    height: 40vh;
    display: flex;
    margin: 0 0;   
    background: linear-gradient(90deg, rgba(0,0,0,.5) 0%, rgba(33,33,33,.51) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

#main_content_photohub{
    overflow: hidden;
}

.photohub_content a {
    flex: 1;
    height: 100%;
    transform: skew(-15deg);
    overflow: hidden;
}

.photohub_content a img , .photohub_content a div{
    width: 140%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
    transform: skew(15deg);
}

.photohub_content a div{
    z-index: 99;
}

.photohub_stats{
    width: 26.3vw;
    display: grid;
    grid-gap: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
}

.photohub_stats .description{
    grid-row: 1;
    grid-column: 1/5;
}

.photohub_stats .description h1{
    margin: 0;
    text-align: center;
}

.photohub_stats i{
    font-size: 1.5vw;
}

.upvote_amount, .comment_amount, .favourite, .user{
    margin-top: 1vh;
}

.upvote_amount{
    grid-row: 2;
    grid-column: 1/2;
}

.comment_amount{
    grid-row: 2;
    grid-column: 2/3;
}

.favourite{
    grid-row: 2;
    grid-column: 3/4;
}

.user{
    grid-row: 2;
    grid-column: 4/5;
}

#add_image_photohub{
    float: right;
    margin: 2vh 5vw 0 0;
    font-size: 4vw;
    color: white;
    transition: .4s;
}

/* upload photo form page */


.main_content_uploadphoto{
    height: 80vh;
}

#add_image_photohub:hover{
    color: gray;
}

.fa-arrow-circle-up, .fa-arrow-circle-down{
    transition: .3s;
}

.fa-arrow-circle-up:hover, .upvoted{
    color: greenyellow;
    cursor: pointer;
}



/* image page styling */

#image_container_wrapper{
    width: 60vw;
    margin: 0 auto;
    grid-template-columns: 19vw 19vw 19vw;
}

#image_container_wrapper img{
    width: 60vw;
}

#commentsection_top_bar{
    width: 60vw;
    background-color: rgba(0,0,0,.3);
    display: grid;
    padding: 1vw;
    color: white;
}

#commentsection_top_bar i{
    font-size: 3vw;
}

#commentsection_top_bar{
    font-size: 1.5vw;
}

#image_like_section p{
    margin-left: 1vw;
}

#image_like_section>div{
    width: 6vw;
}

#image_like_section i{
    margin: 0 auto;
}

#image_like_section{
    grid-row: 1;
    grid-column: 1/2;
}

#image_comment_section{
    grid-row: 1;
    grid-column: 2/3;
}

#image_favourite_section{
    grid-row: 1;
    grid-column: 3/4;
}

.image_OP_section{
    grid-row: 1;
    grid-column: 4/5;
}

.image_delete_section{
    grid-row: 1;
    grid-column: 4/6;
}

#image_overlay{
    height: 10vh;
    position: relative;
    top: 10vh;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 20%, rgba(0,0,0,1) 100%);
    text-align: center;
}

#image_overlay h1{
    font-family: montserrat, sans-serif;
    font-size: 2.5vw;
}

.fa-minus-circle{
    transition:  .4s;;
}

.fa-minus-circle:hover{
    color: red;
}

#comment_section{
    background-color: rgba(0,0,0,.5);
}

.comment{
    background-color: rgba(0,0,0,.5);
    display: grid;
    padding: 1vw;
}

.commenter_profile{
    grid-row: 1;
    grid-column: 1/2;
}

.commenter_profile i{
    font-size: 4vw;
}

.commenter_comment{
    grid-row: 1/5;
    grid-column: 2/6;
}

#commenting_form{
    margin-bottom: 2vh;
}
#commenting_form #body_comment{
    width: 55vw;
    height: 5vh;
}

.comment_delete{
    float: right;
    font-size: 1.5vw;
}



/* admin office styling */

.office_roles_wrapper{
    background-color: rgba(0,0,0,.5);
    width: 60vw;
    margin: 0 auto;
}