@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(30,30,30);
    color: white;
    overflow-x: hidden;
}

header{
    width: 100vw;
    background-color: transparent;
    position: absolute;
    top: 0;
    position: fixed;
    border-bottom: .5px solid rgba(255, 255, 255, 0);
    width: 100vw;
    text-align: center;
    transition: .35s;
}

.header_button, .header_dropdown_button{
    border:  1.5px solid white;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: montserrat, sans-serif;
    margin: 20px 25px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    transition: .35s;
}

.header_button:hover, .header_dropdown_button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    mix-blend-mode: screen;
}

.header.active {
    border-bottom: .5px solid rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 99;
    backdrop-filter: blur(4px);
}

header #dropdown_wrapper{
    display: inline;
    width: 10vw;
    height: 10vh;
}

.dropdown-content{
    background-color: transparent;
    position: relative;
    left: -1.95vw;
    top: 5.5vh;
}


.dropdown-content:hover{
    background: transparent !important;
}

header .dropdown:hover .dropdown-content{
    background: transparent !important;
}

header .dropdown:hover .dropdown-content a{
    color: white !important;
}

header .dropdown-content a:hover{
    background-color: rgba(255, 255, 255, .75)  !important;
    color: black !important;
    mix-blend-mode: screen;
}


/* styling homepage (index.blade.php) */

#index_content_1{
    border-bottom: 2px solid white;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/cities/NY.jpg');
    -webkit-transition: background 3s;
    -moz-transition: background 3s;
    -o-transition: background 3s;
    transition: background 3s;
    background-size: cover;
    background-attachment: fixed;
}

#index_content_1 h1{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 30vh;

    font-weight: bold;
    font-size: 550%;
    font-family: montserrat, sans-serif;
    color: white;
    text-shadow: 0 0 10px black;
}


/* homepage cards */

#index_cards_wrapper{
    align-items: center;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    position: relative;
    top: 30%;
}

.index_cards{
    color: white;
    width: 22.5%;
    margin: 0 2.5%;
    display: inline-block;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 15px black;
    padding: 0;
}

.index_cards>div{
    background-color: rgba(0,0,0,.5);
    margin: 0;
    border-radius: 15px;
}

.index_cards h2{
    font-size: 250%;
    margin: 0;
}

.index_cards h3{
    font-size: 150%;
}

.index_cards h4{
    margin-top: -5px;
}

.index_cards i{
    font-size: 250%;
}

.index_cards i{
    margin-bottom: 10%;
}



/* historical data segment in the index */

#index_content_2{
    padding-top: 10vh;
    width: 60vw;
    align-content: center;
    align-items: center;
    margin: 0 auto;
}

#index_content_2 h1{
    text-align: center;
    font-family: montserrat;
    letter-spacing: 3.5px;
}

#index_content_2 div{
    width: 40vw;
    margin: 0 auto;
}

#index_about_us_wrapper{
    display: inline-block;
    padding-left: 20vw;
    margin-top: 5vh;
}

#index_about_us_wrapper .images, #index_about_us_wrapper .text{
    float: left;
    width: 30vw;
    height: 50vh;
}

#index_about_us_wrapper .text{
    background-color: transparent;
    padding: 1.5vw 3vw;
}
#index_about_us_wrapper h1{
    text-align: center;
}

#index_about_us_wrapper .images{
    background-image: url('../images/error/no_image_found.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#index_about_us_wrapper #img_1{
    background-image: url('../images/stock/programmers.jpg');
}
#index_about_us_wrapper #img_2{
    background-image: url('../images/stock/analyst.jpg');
}
#index_about_us_wrapper #img_3{
    background-image: url('../images/stock/deal.jpg');
}
#index_about_us_wrapper #img_4{
    background-image: url('../images/stock/team.jpg');
}

/* styling for the enter now button to historical data */

#historical_data_button{
    text-align: center;
    position: relative;
    left: 50%;
    margin: 5vh 0 0 -7.5vw;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 15vw;
    overflow: hidden;                           /* this hides all parts of elements outside the button, improving the illusion of the animation' */
    border-radius: 40px;
}

#historical_data_button span{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 8px;
    z-index: 1;
}

#historical_data_button .liquid{
    position: absolute;
    top: -13vh;
    left: 0;
    width: 15vw;
    height: 15vw;
    background: rgb(5, 129, 245);        /* liquid color */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

/* styling for the social media buttons in footer */

 #social_media_wrapper ul{
   position: relative;
   display: flex;                               /* displaying the items inline. remove this for a 'ladder' formation */
   transform: skew(12.5deg);                    /* rotation of the items */
   /* transform: rotate(-25deg); */
}

#social_media_wrapper li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 2.5%;                           /* regulates distance between items */
}

#social_media_wrapper li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;                            /* background buttons */
    justify-content: center;
    align-items: center;
    color: white;                                    /* color of the icons */
    font-size: 30px !important;                        /* size of the icons */
    transition: 1s ease-out;                           /* time to return back to origin */
}





/* styling footer */

footer{
    padding-top: 5vh;
    width: 100vw;
    background-color: rgb(8, 8, 8);
    font-family: montserrat;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    grid-template-columns: 50vw 50vw;
    border-top: 2px solid white;
    margin-top: -5px;
}

footer div:nth-child(1n){
    grid-row: 1;
    grid-column: 1/2;
}
footer div:nth-child(2n){
    grid-row: 2;
    grid-column: 1/2;
}
footer div:nth-child(3n){
    grid-row: 3;
    grid-column: 1/2;
}
footer div:nth-child(4n){
    grid-row: 4;
    grid-column: 1/2;
}
footer div:nth-child(5n){
    grid-row: 5;
    grid-column: 1/2;
}
footer div:nth-child(6n){
    grid-row: 1;
    grid-column: 2/3;
}
footer div:nth-child(7n){
    grid-row: 2;
    grid-column: 2/3;
}
footer div:nth-child(8n){
    grid-row: 3;
    grid-column: 2/3;
}
footer div:nth-child(9n){
    grid-row: 4;
    grid-column: 2/3;
}
footer div:nth-child(10n){
    grid-row: 6;
    grid-column: 1/3;
}

.footer_left_items, .footer_copyright{
    padding-left: 5vw;
    text-decoration: none;
}

.footer_copyright{
    padding: 5vh 0 0 0;
    text-align: center;
}

footer ul p{
    transform: skew(-12.5deg);
}


/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}










#visibleAccountDropdown{
    visibility: visible;
    opacity: 1;
}
#invisibleAccountdropdown{
    visibility: hidden;
    opacity: 0;
}